#contact {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact form input:last-child {
  margin-top: 30px;
}

.input {
  height: 2em;
  width: 350px;
  border-radius: 3px;
  border-color: black;
  margin: 20px 0;
}
