<section id="skills">
  <h3>Skills</h3>
  <div>
    <div>
      <h4>TECHNICAL SKILLS</h4>
      <div>
        <ul>
          <li>HTML</li>
          <li>
            <progress value="0.75"> </progress>
          </li>
          <li>CSS</li>
          <li>
            <progress value="0.75"> </progress>
          </li>
          <li>JAVA</li>
          <li>
            <progress value="0.75"> </progress>
          </li>
          <li>JAVASCRIPT</li>
          <li>
            <progress value="0.75"> </progress>
          </li>
          <li>ANGULAR</li>
          <li>
            <progress value="0.75"> </progress>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <h4>LANGUAGES</h4>
      <div>
        <ul>
          <li>ENGLISH</li>
          <li>
            <progress value="0.75"> </progress>
          </li>
          <li>TAMIL</li>
          <li>
            <progress value="0.75"> </progress>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
