p {
  font-size: 1.5em;
}

#portfolio {
  background: url(https://i1.faceprep.in/ProGrad/portfolio-background.svg);
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

#portfolio>div {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  width: 100%;
}

#portfolio h3,
p,
hr {
  margin-bottom: 20px;
}

hr {
  width: 400px;
}


#portfolio>div>div {
  background: white;
  color: black;
  width: 250px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

#portfolio div div p {
  padding: 0 5px;
}
