#bio {
  display: flex;
  align-items: center;
}

#bio img {
  width: 225px;
  height: 250px;
  border-radius: 50%;
  margin: 100px;
}

.break {
  display: block;
}

#bio article * {
  margin: 20px;
}

p {
  font-size: 1.5em;
}

header {
  background: black;
  color: white;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header div p {
  font-size: 2.5em;
  font-weight: 200;
}
